
.container.dark {
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 8px;
  width: 500px;
  margin: 2rem ;
  text-align: center;
  color: #f0f0f0;
}
.colour{
  display: flex;
  justify-content: center;

}
.description {
  text-align: center;
  margin: 1.5rem;
  font-size: 1rem;
  color: #ccc;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.input-group input{ 
  background-color: rgb(75, 73, 73);
  border: none;
  font-size: large;
}
.input-group input::placeholder{ 
  color: rgb(211, 205, 205);

}
.input-field {
  padding: 0.5rem 1rem;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #2c2c2c;
  color: #f0f0f0;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.button-wrapper {
  margin-top: 0.5rem;
}
