/* counting.css */
.dark .count-box-container {
  background-color: #101010;
  padding: 2rem;
  max-width: 400px;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

.light .count-box-container {
  background-color: lightgrey;
  padding: 2rem;
  max-width: 400px;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}
.dark .count-box-title {
  color: #ccc;
  margin-bottom: 1rem;
}

.light .count-box-title {
  color: #000;
  margin-bottom: 1rem;

}
.light .count-box-display{
    font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1.5rem;
  
}

.count-box-display {
  font-size: 2.5rem;
  font-weight: bold;
  color: #eee;
  margin-bottom: 1.5rem;
}


.count-box-buttons button {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  font-size: 1.5rem;
  background-color: grey;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.05s ease;
}

.count-box-buttons button:hover {
  background-color: #bbb;
}

.count-box-buttons button:active {
  transform: scale(0.95); /* Zoom-out effect */
}
